[S3E]
MemSize=20971520            # 20 Mb
MemSizeDebugDevice=5242880  # 5  Mb
MemSizeDebug=41943040       # 40 Mb
MemMgrMaxAllocWarning=0
DispFixRot=Portrait

[GX]
DataCacheSize=1000000
PolyBufferSize=200000
VertCacheSize=20000
DisplayFramerate=0
NumTPages=128
UseRgbLighting=1
 
[TRACE]
UI_VERBOSE=0